@use 'src/styles/vars';

.searchResults {
  &__card {
    &__img img {
      width: 100%;
    }
    &__content {
      padding: 1em;

      &__title {
        font-family: vars.$title-font;
        font-weight: vars.$title-font-weight;
        font-size: 1.2em,
      }
    }
  }
}

.ui.three.cards {
  margin: 0 auto;
}

.meta {
  padding-bottom: 0.8em;
}
