$background: #eee;

// Generic 
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 400;

// Title
$title-font: 'Roboto', sans-serif;
$title-font-weight: 600;
$title-color: #000;